{{#bs-navbar class="navbar-dark bg-dark" as |navbar|}}

  <div class="container">

    <div class="navbar-header">
      {{navbar.toggle}}
      {{#link-to "index" class="navbar-brand"}}
        <img src="{{rootURL}}img/logo-horizontal-white.svg"
             width="100"
             class="img img-fluid"
             alt="LivaRava Logo">
      {{/link-to}}
    </div>

    {{#navbar.content}}
      {{#navbar.nav as |nav|}}
        {{#nav.item}}
          {{#nav.link-to "index"}}Jobs{{/nav.link-to}}
        {{/nav.item}}
      {{/navbar.nav}}

      {{#navbar.nav class="ml-auto" as |nav|}}
        {{#nav.item}}
          {{#nav.link-to "profile"}}
            {{user-avatar item=me}}
            {{me.fullname}}
          {{/nav.link-to}}
        {{/nav.item}}
        {{#nav.item}}
          {{#nav.link-to "logout"}}Logout{{/nav.link-to}}
        {{/nav.item}}
      {{/navbar.nav}}

    {{/navbar.content}}

  </div>

{{/bs-navbar}}