//noinspection CssUnknownTarget
@import "ember-bootstrap/bootstrap";
//noinspection CssUnknownTarget
@import "font-awesome";
@import "header";
@import "jobs";

.display-dropdown {
  padding: 10px;

}

.display-dropdown-item {
  cursor: pointer;

  .fa {
    width: 20px;
  }
}
