.jobs {
  .card-body {
    padding: 15px;
    background-color: #f9f9f9;
  }

  .table {
    border: 1px solid #ccc;
    margin-bottom: 0;

    tr {
      background-color: #fff;
    }
  }
}

.job {

  .job-title-icon {
    width: 32px;
    padding-left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
  }

  .job-title {
    font-size: 25px;
    font-weight: bold;
    border: 1px solid #F7F7F7;
    padding: 5px;
    margin: 0;
  }

  .job-title-input {
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
  }

  .job-summary-header {
    padding-left: 5px;
    line-height: 30px;
  }

  .job-summary {
    border: 1px solid #FFF;
    min-height: 60px;
    padding: 5px 20px 5px 5px;
    margin: 0 0 60px;
  }

  .job-summary-input {
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    min-height: 60px;
    padding: 5px 5px 5px 5px;
  }

  .job-description-header {
    padding-left: 5px;
    line-height: 30px;
  }

  .job-description {
    border: 1px solid #FFF;
    min-height: 200px;
    padding: 5px 20px 5px 5px;
    margin: 0;
  }

  .job-description-input {
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    min-height: 200px;
    padding: 5px 5px 5px 5px;
  }

  button.btn-light {
    background-color: #ddd;
  }

  .job-actions {
    button {
      width: 100%;
      background-color: #ddd;
      font-size: 15px;
      text-align: left;

      i {
        color: #777;
      }

      b {
        color: #555;
      }

      .fa {
        width: 20px;
      }
    }
  }


}
