{{common-header}}

<div class="job">

  <div class="container mt-5">

    <div class="row">
      <div class="col-12 col-sm-12 col-md-10 offset-md-1">

        {{job-form item=model}}

      </div>
    </div>
  </div>

</div>

{{common-footer}}